<li>
	<div class="box">
		<h3 class="is-size-3">{{burger_name}}</h3>
		<a class="change-devour button is-primary" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}EATEN!{{else}}UNEAT!{{/if}}
		</a>
	</div>

</li>